### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/compiler.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/One-PrimeiroApp.iml
BankProgram/.idea/compiler.xml
BankProgram/.idea/encodings.xml
BankProgram/.idea/jarRepositories.xml
BankProgram/.idea/misc.xml
BankProgram/.idea/uiDesigner.xml
BankProgram/.idea/vcs.xml
One-PrimeiroApp.iml
DesafioViaCEP/DesafioViaCEP.iml
target/classes/.idea/compiler.xml
target/classes/.idea/encodings.xml
target/classes/.idea/jarRepositories.xml
target/classes/.idea/misc.xml
target/classes/.idea/uiDesigner.xml
target/classes/.idea/vcs.xml
